C:/Users/KrzysztofWojciechDab/Documents/projekty/yt-downloader/output/YtDownloader/runtime/lib/modules filter=lfs diff=lfs merge=lfs -text
C:/Users/KrzysztofWojciechDab/Documents/projekty/yt-downloader/output/YtDownloader/app/tools/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
modules filter=lfs diff=lfs merge=lfs -text
